# Dependencies
node_modules/
.pnpm-store/

# Build outputs
.next/
dist/
build/
out/
.turbo/

# Env
.env
.env.local
.env.*.local

# Tests & coverage
coverage/
playwright-report/
test-results/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Misc
*.tsbuildinfo
.eslintcache
.vercel
next-env.d.ts
.lighthouseci
